mixin dailySummary(snapshots)
  each snapshot, index in snapshots
    //- -var summary = '';
    //- each response in snapshot.responses
    //-   if response.questionPrompt === 'How did you sleep?'
    //-     -summary += `You slept ${response.answeredOptions}. `
    //-   if response.questionPrompt === 'Do you remember your dreams?'
    //-     if response.answeredOptions === 'No'
    //-       -summary += `You couldn’t remembered your dreams. `
    //-     else
    //-       -summary += `You remembered your dreams. `
    //-   if response.questionPrompt === 'Did you snooze?'
    //-     if response.answeredOptions === 'No'
    //-       -summary += `You got up right away. `
    //-     else
    //-       -summary += `You snoozed. `
    //-   if response.questionPrompt === 'Who are you with?'
    //-     -var peopleArray = [];
    //-     each token in response.tokens
    //-       -peopleArray.push(token.text);
    //-     -summary += `You were with ${peopleArray}.`
    //-   if response.questionPrompt === 'Where are you?'
    //-     if response.locationResponse
    //-       -summary += `You were at ${response.locationResponse.text}. `
    //-   if response.questionPrompt === 'How many coffees did you have today?'
    //-     -summary += `You had ${response.numericResponse} coffees today. `

    a(href=`/snapshot/${snapshot._id}`)
      if index === 0 
        .card.morning 
          h4 #{h.moment(snapshot.date).format('h:mm a')}
          //- p= summary
      else if index === snapshots.length-1
        .card.evening
          h4 #{h.moment(snapshot.date).format('h:mm a')}
          //- p= summary
      else 
        .card
          h4 #{h.moment(snapshot.date).format('h:mm a')}
          //- p= summary
