mixin dailySummary(snapshots)
  each snapshot, index in snapshots
    a(href=`/snapshot/${snapshot._id}`)
      if index === 0 
        .card.morning 
          h4 #{h.moment(snapshot.date).format('h:mm a')}
          p= h.createSummary(snapshot.responses)
      else if index === snapshots.length-1
        .card.evening
          h4 #{h.moment(snapshot.date).format('h:mm a')}
          p= h.createSummary(snapshot.responses)
      else 
        .card
          h4 #{h.moment(snapshot.date).format('h:mm a')}
          p= h.createSummary(snapshot.responses)
