mixin location(location, question)
  .dataCard
    #map(data-lat=location.latitude data-lon=location.longitude)
    .dataBody.text-center
      if question
        h3= question.locationResponse.text
      else
        h3= location.placemark.name
      p #{location.placemark.locality}, #{location.placemark.administrativeArea}   |  
        != h.icon('mountain')
        span #{(location.altitude).toFixed()} ft 
        if question
          a(href=`https://foursquare.com/v/${question.locationResponse.foursquareVenueId}` target="_blank") 🔗
