extends layout

include partials/cards/_weatherCard
include partials/cards/_locationCard
include partials/cards/_questionsCard
include partials/cards/_phoneCard
include partials/cards/_stepsCard
include partials/cards/_photosCard

block content
  .cover
    .container
      .row
        .col-sm-6.col-sm-offset-3.text-center
          h2 #[span.highlighted #{h.moment(snapshot[0].date).format('h:mm A')}]
          h2 #[span.highlighted #{h.moment(snapshot[0].date).format('dddd, MMMM Do YYYY')}]
          h2 #[span.highlighted #{snapshot[0].location.placemark.locality},#{snapshot[0].location.placemark.administrativeArea}]
  
  .light-gray-background
    .container
      .row
        .col-sm-4
          +stepsCard(snapshot[0].steps, snapshot[0].altitude, snapshot[0].sectionIdentifier)
        if snapshot[0].weather.weather
          .col-sm-4
            +weather(snapshot[0].weather)
        .col-sm-4
          - const question = snapshot[0].responses.find(x => x.questionPrompt === 'Where are you?')
          +location(snapshot[0].location, question, snapshot[0].altitude)
        .col-sm-8
          +questionCard(snapshot[0].responses)
        .col-sm-4
          +phoneCard(snapshot[0])
        if snapshot[0].photoSet.photos.length > 0
          .col-sm-8
            +photosCard(snapshot[0].photoSet.photos)

  pre= h.dump(snapshot[0])
