mixin stepsCard(steps, altitude, sectionIdentifier)
    .dataCard.text-center
      .chart
        svg#steps-bar-chart
        script.
          $(document).ready(function() {
            createBarChart(`../api/v1/steps/#{sectionIdentifier}`,'steps-bar-chart');
          });
      .dataHeader
        h2.thinner #{h.addCommas(steps)} Steps
      .dataBody
        .row.light-line
          .col-xs-4
            h3.thinner #{h.addCommas(steps)}
            small Steps
          .col-xs-4
            h3.thinner #{altitude.floorsAscended}
            small Floors Up
          .col-xs-4
            h3.thinner #{altitude.floorsDescended}
            small Floors Down
